# Pete's big file of git ignore stuff

# Ignore emacs' temp files
*~
*#*

# Ignore compiled python stuff
*.pyc

# Ignore local_settings.py
local_settings.py

# Dylan "the nefarious vim user" (no tmp files)
*.swp
