    <ul id="manage_memberships">
        <li><h3>Manage Memberships</h3></li>
        <li><a href="/memberships/edit/">Add a New Membership</a></li>
	<li><a href="/email/send/">Send an Email to Club Members</a></li>

    </ul>
    <ul id="membership_reports">
        <li><h3>Reports</h3></li>
	<li>Billing:
	    <ul>
        <li><a href="{% url reports_membership filter_by='due' page=1 order_by='-join_date' %}">Memberships Due this Year</a> (<a href="{% url reports_membership_csv filter_by='due' format='csv' %}">csv</a>)</li>
	<li><a href="{% url reports_dues page=1 %}">Payment History</a></li>
            </ul>
        </li>

	<li>List all ..
            <ul>
	        <li><a href="{% url reports_membership filter_by='active' page=1 order_by='-join_date' %}">Active Memberships</a> (<a href="{% url reports_membership_csv filter_by='active' format='csv' %}">csv</a>)</li>
	        <li><a href="{% url reports_membership filter_by='inactive' page=1 order_by='-join_date' %}">Suspended Memberships</a> (<a href="{% url reports_membership_csv filter_by='inactive' format='csv' %}">csv</a>)</li>
	        <li><a href="{% url reports_membership filter_by='noemail' page=1 order_by='-join_date' %}">Memberships Without an Email Address</a> (<a href="{% url reports_membership_csv filter_by='noemail' format='csv' %}">csv</a>)</li>
	        <li><a href="{% url reports_membership filter_by='corresponding' page=1 order_by='-join_date' %}">Corresponding Memberships</a> (<a href="{% url reports_membership_csv filter_by='corresponding' format='csv' %}">csv</a>)</li>
            </ul>
        </li>
        <li>Mail/Email
            <ul>
		<li><a href="/email/list/">List Email Addresses</a></li>
		<li><a href="/mushroom_admin/mailing_labels.csv">Generate Mailing Labels</a></li>
            </ul>
    </ul>
    <ul id="membership_search">
        <li><h3>Search</h3></li>
        <form method="GET" id="membership_fetch" action="/memberships/fetch/">
            <fieldset>
                {% for field in membership_fetch %}
                {% include "includes/field.html" %}
                {% endfor %}
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
        <form method="GET" id="membership_search" action="/memberships/search/">
            <fieldset>
                {% for field in membership_search %}
                {% include "includes/field.html" %}
                {% endfor %}
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    </ul>







    <ul id="manage_walks">
        <li><h3>Manage Walks</h3></li>
        <li><a href="/walks/list/">List All Walks</a></li>
        <li><a href="/walks/create/">Add A Walk</a></li>
    </ul>
    <ul id="manage_site">
        <li><h3>Manage the Site</h3></li>
        <li>
	    <ul>
	        <li><a href="/mushroom_admin/newsbits/create/">Add Newsbit</a></li>
		<li><a href="/mushroom_admin/newsbits/">List/Edit Newsbits</a></li>
            </ul>
        <li>
	    <ul>
                <li><a href="/mushroom_admin/announcements/create/">Add Announcement</a></li>
		<li><a href="/mushroom_admin/announcements/">List/Edit Announcements</a></li>
            </ul>
        <li>
            <ul>
                <li><a href="/mushroom_admin/nuggets/create/">Add a Nugget (BMC Fact)</a></li>
		<li><a href="/mushroom_admin/nuggets/">List/Edit Nuggets</a></li>
            </ul>
        <li><a href="/admin/">Advanced Administration</a></li>
    </ul>
    <p id="mischief_managed"><a href="/accounts/logout/">Mischief Managed (Logout)</a></p>
