{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block style %}
{{ block.super }}
<style type="text/css">
       input { margin-left: 8em; }
       label { width: 8em; }       
       #reset-submit { margin-left: 1em; }
</style>
{% endblock style %}

        {% block text %}
<h2>{% trans "Password reset" %}</h2>

<p>If you're a club member in good standing, you may create a password to login to the site (or reset your exisiting password if you've forgotten it) with the form below.  </p>
<p>If you'd like to join the BMC, please fill out an <a href="/application.html">application</a>.</p>

<form action="" method="post" id="password_reset_form">
    <div id="email_wrap">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'E-mail address' %}: </label>{{ form.email }} 
        <input type="submit" value="{% trans 'Create a password' %}" id="reset-submit" />
    </div>

</form>
        {% endblock text %}


