{% extends "base.html" %}

	    {% block text %}
<p>Some of the BMC members have mushroom-related websites. If you are a current member of the BMC and would like your website included in this list, contact <a href="info@bostonmycologicalclub.org">info@bostonmycologicalclub.org</a>.</p>

<p><strong>Russ Cohen</strong> gives walks and courses Edible Wild Plants. You can <a href="http://users.rcn.com/eatwild/sched.htm">check his website</a> for a schedule of his activities.</p>

<p><strong>Wanda Metcalf</strong> creates paintings from watercolors and from computer digital techniques. You can <a href="http://www.newtonopenstudios.com/artists-page.asp?a=274">check her website</a> and see an on-line gallery of some of her work.</p>
	    {% endblock text %}
