{% extends "base.html" %}

        {% block trail %}
        <li>&gt; <a href="/mushroom_admin/">Mushroom Admin</a></li>
        <li>&gt; <a href="/memberships/list/">List Memberships</a></li>
        {% endblock trail %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
fieldset #Notes_wrap {
        position: absolute;
        left: 26em;
        top: 0; 
}
#Notes_wrap label { width: 7em; margin-left: 3em; }
#id_notes { width: 20em; }
-->
    </style>
    <!--[if lte IE 6]>
    <style type="text/css">
form { width: 60em; }
    </style>
    <![endif]-->
    {% endblock style %}

            {% block text %}
{% if membership %}
<h2>Edit a Membership</h2>
{% else %}
<h2>Create a New Membership</h2>
{% endif %}

<form action="." method="POST" id="membership_form">
    <fieldset>
        {% for field in form %}
	<div id="{{ field.label }}_wrap">
            {{ field.errors }}
	    {{ field.label_tag }} {{ field }}
	</div>
	{% endfor %}
	<p><input type="submit" value="Submit" id="id_submit" /></p>
    </fieldset>
</form>
            {% endblock text %}



