{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
.inactive { color: gray; font-style: italic; }
.inactive a, .inactive a:visited { color: gray; }
.pages li { float: left; height: 2em; margin: 1em 1em 1em 0.2em; }
.pages ul { }
table { clear: left; }
th { text-align: left; }
tr.even { background-color: #cccccc; }
-->
    </style>
    {% endblock style %}


            {% block text %}
<h2>Member Report</h2>

{% include 'includes/pages.html' %}

<table id="member_report">
    <tr>
	<th style="width: 8em;">Date Joined</th>
        <th>Name(s)</th>
	<th>Address</th>
	<th style="width: 8em;">Paid Through</th>
    </tr>
    {% for membership in membership_list %}
    <tr class="{% cycle 'odd' 'even' %}{% if not membership.is_active %} inactive{% endif %}">
        <td>{{ membership.join_date|date }}</td>
        <td>
<a href="{% url membership_view membership=membership.id %}">
{% for profile in membership.get_profiles %}
{% if not forloop.first %} & {% endif %}
{{ profile.user.first_name }} {{ profile.user.last_name }}
{% endfor %}
</a>
        </td>
        <td>
<a href="{% url membership_view membership=membership.id %}">
{{ membership.address }} {{ membership.address2 }}, {{ membership.city }} {{ membership.state }}, {{ membership.zip }}
</a>
	</td>
	<td>{{ membership.get_most_recent_due.paid_thru|date }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'includes/pages.html' %}

            {% endblock text %}
