{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <link href="/user.css" rel="stylesheet" type="text/css" />
    {% endblock style %}

            {% block text %}
<h2>Member #{{ membership.id }}</h2>

    <form action="/members/add_user/{{ membership.id }}/" method="POST" id="add_user">
        <fieldset>
            {% for field in add_user %}
            <div id="{{ field.label }}_wrap">
                {{ field.errors }}
		{{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            {% for field in add_profile %}
            <div id="{{ field.label }}_wrap">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
	    <input type="submit" value="Submit" id="submit_user" />
        </fieldset>
    </form>
            {% endblock text %}



