/*
***************************************************************************
**  {% block sheet_name %}aiee.css{% endblock sheet_name %}
**  
**  Written by Pete Vander Giessen (http://www.petevg.com/)
**    for the Boston Mycological Club
**    Summer, 2008
**
***************************************************************************
** 
**  Contains fixes for Internet Exploder
**  
**  
***************************************************************************
*/


@media screen {

/* IE doesn't like to style things relative to a form element, and
firefox has a rendering bug when we absolutely position elements in a
fieldset in a form.  IE is easier to pick out of the bunch, so we give
it the special style */
fieldset { position: relative; }

/* This IE 6 fix shouldn't be necessary.  Really should figure out
   formatting wonkiness on index page ... */
*html #newsbox { left: -215px; }
*html #sidebar { right: 0; }

/* min-height fixes for IE 6*/
*html form div, *html form p { height: 2.9em; }
*html #content { padding-bottom: 30em; }


