{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
div.announcement { margin-bottom: 1em; }
-->
    </style>
    <!--[if lte IE 6]>
    <![endif]-->
    {% endblock style %}

            {% block text %}
<h2>Article Archive</h2>


{% if announcements %}
    {% for announcement in announcements %}
    <div class="announcement">
	{% if announcement.picture %}
        <div class="picture">
            <img src="{{ media_url }}/{{ announcement.picture }}" alt="{{ announcement.picture_caption }}" />
            <div class="caption">{{ announcement.picture_caption|linebreaks }}</div>
        </div>
        {% endif %}
        {% if announcement.full_story %}
	<h3><a href="/Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">{{ announcement.heading }}</a></h3>
<p><em>{{ announcement.timestamp|date:"M d, Y" }}</em></p>
{{ announcement.summary|urlize|linebreaks }}
	<p><a href="/Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">Full story</a></p>
	{% else %}
        <h3>{{ announcement.heading }}</h3>
<p><em>{{ announcement.timestamp|date:"M d, Y" }}</em></p>
{{ announcement.summary|urlize|linebreaks }}
	{% endif %}
    </div>
    {% endfor %}
{% else %}
    <p>Whoops.  It looks like you've reached the end of the list.</p>
{% endif %}

<ul class="prev_next">
    {% if prev_next.start %}<li><a href="/articles/start{{ prev_next.prev }}/{{ prev_next.per_page }}pp/">Previous {{ prev_next.per_page }} Articles</a></li>{% endif %}
    {% if prev_next.next %}<li><a href="/articles/start{{ prev_next.next }}/{{ prev_next.per_page }}pp/">Next {{ prev_next.per_page }} Articles</a></li>{% endif %}
</ul>
<p class="toggle"><a href="/articles/start0/{{ prev_next.toggle }}pp/">Show {{ prev_next.toggle }} Articles Per Page</a></p>

            {% endblock text %}



