{% extends "base.html" %}

            {% block text %}
<h2>Looking for lists of mushrooms that the BMC has come across? Here they are!</h2>

<p>Currently, the checklists for the BMC walks are being stored in the databases of the Massachusetts Biodiversity website. When a new species is added to their database, it may take a while for it to show up in the listings. For a list of each walk in 2004, click on the walk's Location.</p>

<p>To get a checklist of all species of fungi in the Massachusetts Biodiversity database, <a href="http://maps.massgis.state.ma.us/servlet/TRGServlet2001?COUNTY=25001%2CBarnstable&SPECIALTY=Mushrooms+%28Fungi%29&FORMAT=LATINNAME">go here</a>.</p>

<p>For a downloadable fPDF booklet of the Massachusetts Biodiversity fungi (as of September 2, 2004), <a href="{{ media_url }}MA%20Fungi%20Checklist%202004-09-02.pdf">click here</a>.</p>

<h2>2004 Trips</h2>

<table border="1" cellpadding="2" cellspacing="2" width="100%">
   <tbody>
      <tr>
         <td>Trip ID</td>
         <td>Date</td>
         <td>Location</td>
         <td>Town</td>

      </tr>
      <tr>
         <td>3297</td>
         <td>02/22/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3297">Ipswich River Audubon sanctuary</a></td>
         <td>TOPSFIELD</td>
      </tr>

      <tr>
         <td>3302</td>
         <td>07/11/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3302">Beebe Woods</a></td>
         <td>FALMOUTH</td>
      </tr>
      <tr>

         <td>3303</td>
         <td>07/18/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3303">Middlesex Fells - east</a></td>
         <td>MEDFORD</td>
      </tr>
      <tr>
         <td>3304</td>

         <td>07/25/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3304">Blue Hills reservation</a></td>
         <td>MILTON</td>
      </tr>
      <tr>
         <td>3305</td>
         <td>08/01/2004</td>

         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3305">Rocky Woods - Trustees of Reservations</a></td>
         <td>MEDFIELD</td>
      </tr>
      <tr>
         <td>3306</td>
         <td>08/08/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3306">Maudslay State Park</a></td>

         <td>NEWBURYPORT</td>
      </tr>
      <tr>
         <td>3307</td>
         <td>08/15/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3307">Nashoba Brook</a></td>
         <td>ACTON</td>

      </tr>
      <tr>
         <td>3308</td>
         <td>08/22/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3308">Great Brook Farm State Park</a></td>
         <td>CARLISLE</td>
      </tr>

      <tr>
         <td>3309</td>
         <td>08/29/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3309">Flagg Hill conservation lands</a></td>
         <td>STOW-BOXBOROUGH</td>
      </tr>
      <tr>

         <td>3310</td>
         <td>09/04/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3310">Cape Cod National Seashore</a></td>
         <td>EASTHAM</td>
      </tr>
      <tr>
         <td>3312</td>

         <td>09/19/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3312">Moose Hill Audubon</a></td>
         <td>SHARON</td>
      </tr>
      <tr>
         <td>3313</td>
         <td>09/26/2004</td>

         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3313">Wright Woods</a></td>
         <td>CONCORD</td>
      </tr>
      <tr>
         <td>3314</td>
         <td>10/02/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3314">Purgatory Chasm</a></td>

         <td>SUTTON</td>
      </tr>
      <tr>
         <td>3315</td>
         <td>10/03/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3315">private land</a></td>
         <td>WESTPORT</td>

      </tr>
      <tr>
         <td>3316</td>
         <td>10/10/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3316">Lincoln Woods</a></td>
         <td>LINCOLN</td>
      </tr>

      <tr>
         <td>3317</td>
         <td>10/17/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3317">Pigeon Cove Quarry</a></td>
         <td>ROCKPORT</td>
      </tr>
      <tr>

         <td>3319</td>
         <td>10/24/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3319">Wompatuck State Park</a></td>
         <td>HINGHAM</td>
      </tr>
      <tr>
         <td>3320</td>

         <td>10/31/2004</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3320">Gilbert Hills State Forest</a></td>
         <td>FOXBOROUGH</td>
      </tr>
   </tbody>
</table>


<h2>2003 Trips</h2>

<table border="1" cellpadding="2" cellspacing="2" width="100%">

   <tbody>
      <tr>
         <td>Trip ID</td>
         <td>Date</td>
         <td>Location</td>
         <td>Town</td>
      </tr>

      <tr>
         <td>3237</td>
         <td>07/06/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3237">Woodhead Farm</a></td>
         <td>STOW</td>
      </tr>
      <tr>

         <td>3287</td>
         <td>07/08/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3287">Assabet River National Wildlife Refige</a></td>
         <td>HUDSON</td>
      </tr>
      <tr>
         <td>3235</td>

         <td>07/13/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3235">Alewife Reservation</a></td>
         <td>CAMBRIDGE</td>
      </tr>
      <tr>
         <td>3238</td>
         <td>07/20/2003</td>

         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3238">Town Forest - Bradley Lane</a></td>
         <td>STOW</td>
      </tr>
      <tr>
         <td>3236</td>
         <td>07/27/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3236">Bradley Estate - Trustees of Reservations</a></td>

         <td>CANTON</td>
      </tr>
      <tr>
         <td>3239</td>
         <td>08/03/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3239">Deer Jump Reservation</a></td>
         <td>ANDOVER</td>

      </tr>
      <tr>
         <td>3240</td>
         <td>08/10/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3240">Purgatory Chasm State Park</a></td>
         <td>SUTTON</td>
      </tr>

      <tr>
         <td>3248</td>
         <td>08/17/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3248">Great Brook Farm State Park</a></td>
         <td>CARLISLE</td>
      </tr>
      <tr>

         <td>3249</td>
         <td>08/24/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3249">Wompatuck State Park</a></td>
         <td>HINGHAM</td>
      </tr>
      <tr>
         <td>3260</td>

         <td>08/31/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3260">Gilbert Hills State Forest</a></td>
         <td>FOXBOROUGH</td>
      </tr>
      <tr>
         <td>3261</td>
         <td>09/07/2003</td>

         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3261">Melone homestead</a></td>
         <td>WESTON</td>
      </tr>
      <tr>
         <td>3262</td>
         <td>09/14/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3262">Stow Town Forest</a></td>

         <td>STOW</td>
      </tr>
      <tr>
         <td>3270</td>
         <td>09/28/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3270">Harold Parker State Park</a></td>
         <td>ANDOVER</td>

      </tr>
      <tr>
         <td>3280</td>
         <td>10/05/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3280">Marconi Station Road</a></td>
         <td>WELLFLEET</td>
      </tr>

      <tr>
         <td>3281</td>
         <td>10/12/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3281">Nashoba Brook</a></td>
         <td>ACTON</td>
      </tr>
      <tr>

         <td>3282</td>
         <td>10/18/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3282">Estabrook Woods</a></td>
         <td>CONCORD</td>
      </tr>
      <tr>
         <td>3283</td>

         <td>10/19/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3283">Minuteman National Historical Park</a></td>
         <td>LEXINGTON</td>
      </tr>
      <tr>
         <td>3284</td>
         <td>10/26/2003</td>

         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3284">Codman Forest</a></td>
         <td>LINCOLN</td>
      </tr>
      <tr>
         <td>3286</td>
         <td>11/01/2003</td>
         <td><a href="http://maps.massgis.state.ma.us/servlet/ResultsByTrip?TRIPID=3286">Cape Cod National Seashore</a></td>

         <td>EASTHAM</td>
      </tr>
   </tbody>
</table>

<h2>There is no 2002 checklist (...and probably won't be one .... sorry about that.)</h2>



	    {% endblock text %}
