{% extends "base.html" %}
{% load adminmedia %}

    {% block style %}
    {{ block.super }}
    <style typle="text/css">
<!--
/* Walk Form */
form { 
        height: 30em; 
        min-width: 60em;   
}
input, select { width: 12em; }

#id_lat { width: 5em; }
#id_long { width: 5em; }
#Long_wrap .help_text, #Lat_wrap .help_text { width: 10em; }
#id_permission { width: 1.2em; }

/* 'float' some fields to the right and style them */
#id_directions { height: 6.5em; width: 20em; }
fieldset #Directions_wrap { 
        position: absolute; 
	left: 26em; 
        top: 0;  
}
#id_weather { height: 1.6em; width: 20em; }
fieldset #Weather_wrap { 
        position: absolute; 
	left: 26em; 
        top: 8.7em;
	z-index: 1; 
}

#id_terrain { height: 1.6em; width: 20em; } 
fieldset #Terrain_wrap { 
        position: absolute; 
	left: 26em; 
        top: 11.6em; 
	z-index: 1; 
}
#id_notes { height: 10.4em; width: 20em; }
fieldset #Notes_wrap { 
        position: absolute; 
	left: 26em; 
        top: 14.7em; 
	z-index: 1;
}

p#submit_wrap {
        position: absolute;
        left: 51.5em;
        top:  27.8em;
        width: 4.4em; 
        margin: 0;
        padding: 0; 
        text-align: left;
}
input#id_submit { 
        width: 4.4em; 
        padding: 0; margin: 0;
}
-->
    </style>

    <!--[if lte IE 6]>
    <style type="text/css">
form { width: 60em; ]
    </style>
    <![endif]-->

    {% endblock style %}

            {% block text %}
{% if walk %}
<h2>Edit Your Walk</h2>
{% else %}
<h2>Create A Walk</h2>
{% endif %}

{% if not walk %}
<p>Creating a walk is simple.  Just fill in the information below, click "Submit", and your walk will be posted to the site and emailed to any interested club members!</p>
{% endif %}
<form action="." method="POST" id="walk_form">
    <fieldset>
        {% for field in form %}
        <div id="{{ field.label }}_wrap">
            {{ field.errors }}
	    {{ field.label_tag }} {{ field }}
            <span class="help_text">{{ field.help_text }}</span>
	</div>
	{% endfor %}
	<p id="submit_wrap"><input type="submit" value="Submit" id="id_submit" /></p>
    </fieldset>
</form>
            {% endblock text %}



