{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    {% endblock style %}

            {% block text %}
<h2>Membership #{{ membership.id }}</h2>

    <form action="." method="POST" id="edit_due">
        <fieldset>
            {% for field in form %}
	    <div id="{{ field.label }}_wrap">
                {{ field.errors }}
		{{ field.label_tag }} {{ field }}
	    </div>
            {% endfor %}
            <input type="submit" value="Submit" id="submit_dues" />
        </fieldset>
    </form>
            {% endblock text %}



