{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
.announcement { clear: right; }
.announcement .picture { 
        position: relative;    
        float: right; 
   margin: 0 0 0 1em; 
        max-width: 50%; 
}
.announcement img { max-width: 100%; }
*html .announcement .picture { width: 50%; }
*html .announcement img { width: 100%; }
-->
    </style>
    {% endblock style %}

        {% block news_n_nuggets %}
    <h3 class="news">News</h3>
    {% for newsbit in newsbits %}
    <div class="news">
        <p {% if forloop.first %}class="strong"{% endif %}>{{ newsbit.timestamp|date:"M d, Y" }} - <br />{{ newsbit.news }}</p>
    </div>
    {% endfor %}
	{% endblock news_n_nuggets %}


    {% block breadcrumbs %}
    {% endblock breadcrumbs %}

	{% block text %}
<div id="announcements">
    {% for announcement in announcements %}
    <div class="announcement">
	{% if announcement.picture %}
        <div class="picture">
            <img src="{{ media_url }}/{{ announcement.picture }}" alt="{{ announcement.picture_caption }}" />
            <div class="caption">{{ announcement.picture_caption|linebreaks }}</div>
        </div>
        {% endif %}
        {% if announcement.full_story %}
	<h3><a href="Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">{{ announcement.heading }}</a></h3>
{{ announcement.summary|urlize|linebreaks }}
	<p><a href="Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">Full story</a></p>
	{% else %}
        <h3>{{ announcement.heading }}</h3>
{{ announcement.summary|urlize|linebreaks }}
	{% endif %}
    </div>
    {% endfor %}
</div><!-- close #announcements -->


	{% endblock text %}

