{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
#announcements { 
        padding: 0 10px;
        margin-left: 200px;
        position: relative;
        border-left: 1px solid black; 
}
#newsbox {
        position: absolute;
        top: 0;
        left: 0px;
        width: 180px;
        padding: 0 10px;
}
#newsbox h3 { text-align: center; }
.news p { font-style: italic; padding-top: 0; margin-top: 0.8em; }
-->
    </style>
    {% endblock style %}

    {% block breadcrumbs %}
    {% endblock breadcrumbs %}

	{% block text %}
<div id="announcements">
    {% for announcement in announcements %}
    <div class="announcement">
        {% if announcement.full_story %}
	<h3><a href="Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">{{ announcement.heading }}</a></h3>
{{ announcement.summary|urlize|linebreaks }}
	<p><a href="Stories/{{ announcement.timestamp|date:"Y/m/d/H:i:s" }}">Full story</a></p>
	{% else %}
        <h3>{{ announcement.heading }}</h3>
{{ announcement.summary|urlize|linebreaks }}
	{% endif %}
    </div>
    {% endfor %}
</div><!-- close #announcements -->


<div id="newsbox">
    <h3>~ News ~</h3>
    {% for newsbit in newsbits %}
    <div class="news">
        <p>{{ newsbit.timestamp|date:"M d, Y" }} - {{ newsbit.news }}</p>
    </div>
    {% endfor %}
</div><!-- close #newsbow -->

	{% endblock text %}

