{% extends "base.html" %}

	    {% block page_name %}<li>&gt; Login</li>{% endblock %}

    {% block style %}
    {{ block.super }}
<style type="text/css">
<!--
label { width: 15em; }
input { margin-left: 15em; }
-->
</style>
    <style type="text/css">
<!--
p#password-reset { margin-top: 2em; font-size: 0.85em; }
-->
    </style>
    {% endblock style %}

            {% block text %}
<h2>Please Login</h2>

<form method="post" action="." id="login">
    <fieldset>
        {% for error in form.non_field_errors %}
	<p class="non_field_error">{{ error }}</p>
        {% endfor %}
        {% for field in form %}
        <div id="{{ field.label }}_wrap">
            {{ field.errors }}
            {% if forloop.first %}<label for="id_username">Username/Email Address</label>{% else %}{{ field.label_tag }}{% endif %} {{ field }}
        </div>
        {% endfor %}
	<p><input type="submit" value="Login" id="login-submit" /></p>
	<input type="hidden" name="next" value="{{ next }}" />
        <p id="password-reset">Forgot your password? <a href="/accounts/password_reset/">Reset it.</a></p>
    </fieldset>
</form>	
            {% endblock text %}
