{% extends "base.html" %}

        {% block trail %}
        <li>&gt; <a href="/mushroom_admin/">Mushroom Admin</a></li>
        {% endblock trail %}

            {% block text %}
{% if overdue_by %}
<h2>Memberships Overdue as of {{ overdue_by|date }}</h2>
{% else %}
<h2>All Memberships</h2>
{% endif %}
{% if member_list %}
<ul>
    {% for member in member_list %}
    <li><a href="/memberships/{{ member.membership.id }}/view/">{{ member.membership.address }} ({% for user in member.users %}{% if not forloop.first %}, {% endif %}{{ user.first_name }} {{ user.last_name }}{% endfor %})</a></li>
    {% endfor %}
</ul>
{% else %}
<p>You've reached the end of the Membership List!</p>
{% endif %}
{% if prev_next %}
<ul class="prev_next">
    {% if prev_next.start %}<li><a href="/memberships/list/start{{ prev_next.prev }}/{{ prev_next.per_page }}pp/{% if due_by %}due_by/{{ due_by.year }}/{{ due_by.month }}/{% endif %}">Previous {{ prev_next.per_page }} Memberships</a></li>{% endif %}
    {% if prev_next.next %}<li><a href="/memberships/list/start{{ prev_next.next }}/{{ prev_next.per_page }}pp/{% if due_by %}due_by/{{ due_by.year }}/{{ due_by.month }}/{% endif %}">Next {{ prev_next.per_page }} Memberships</a></li>{% endif %}
</ul>
<p class="toggle"><a href="/memberships/list/start0/{{ prev_next.toggle }}pp/{% if due_by %}due_by/{{ due_by.year }}/{{ due_by.month }}/{% endif %}">Show {{ prev_next.toggle }} Memberships Per Page</a></p>
{% endif %}

            {% endblock text %}



