{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    {% endblock style %}

            {% block text %}
<h2>Search for a Member</h2>

    <form action="." method="GET" id="membership_fetch">
        <fieldset>
        <div class=".error">{{ error }}</div>
        {% for field in membership_fetch %}
	{% include "includes/field.html" %}
        {% endfor %}
	<p><input type="submit" name="submit" value="Submit" /></p>
        </fieldset>
    </form>
            {% endblock text %}



