{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
<style type="text/css">
<!--
#walks { 
        padding: 0 10px;
        margin-left: 250px;
        position: relative;
        border-left: 1px solid black; 
}
.walk p { margin: 0; padding: 0; }
.walk { margin: 0 0 1.5em; }

#id_sessions {
        position: absolute;
        top: 0;
        left: -250px;
        width: 230px;
        padding: 0 10px;
}
#id_sessions h4 { 
        text-align: center; 
        font-size: 1.1em;

}
#id_sessions ul { list-style: none; padding: 0; margin: 0; }
-->
</style>
    {% endblock style %}


	    {% block text %}
<div id="walks">

{% if request.user.is_authenticated %}
<h2>Upcoming BMC Walks in Your Area</h2>

<ul>
    {% for area in walks_in_area %}
        {% for walk in area %}
    {% include "includes/walk.html" %}
        {% endfor %}
    {% endfor %}
    <li class="tool" id="create_walk"><a href="/walks/create/">Create a Walk</a></li>
    <li class="tool"><a href="/walks/list/">List All Walks</a></li>
</ul>
{% endif %}

<h2>Public Walks</h2>

<ul>
    {% if public_walks %}
        {% for walk in public_walks %}
    <li class="walk">
        <p class="date"><strong>{{ walk.when|date:"l, F jS, g:i A" }}</strong></p>
        <p class="area"><strong>Collecting Area</strong>: {{ walk.collecting_area }}</p>
        <p class="location"><strong>Meeting Place</strong>: {{ walk.meeting_place }}.
    </li>
        {% endfor %}
    {% else %}
    <li class="walk"><em>None scheduled at present.  Check back in early June.</em></li>
    {% endif %}

</ul>
<div><!-- close #walks -->

<div id="id_sessions">

<h4>~ ID Sessions ~</h4>

<p>At the Farlow Herbarium:</p>

<ul>
    {% if id_sessions %}
        {% for session in id_sessions %}
    <li>{{ session.when|date:"l, F jS, g:i A" }}</li>
        {% endfor %}
    {% else %}
    <li><em>None scheduled at present.</em></li>
    {% endif %}
</ul>

</div><!-- close #id_sessions -->


<div id="notes">

<p class="blurb">* The Boston Mycological Club does not make it's complete schedule of mushroom walks available on it's website. Information about the schedule of walks and other club events is mailed out to current club members. (Although the web site is used for last-minute updates about club activities.)</p>

<p class="blurb">However, we're not closed to the public. You're welcome <a href="mailto:info@bostonmycologicalclub.org?Subject=BMC club activities - inquiry">to inquire</a> about upcoming club activities. We'd be glad to have you check in with us before attending. If, after trying a walk or two, you'd like to join, that would be great!</p>
</div>
</div></div>
            {% endblock text %}

