{% extends "base.html" %}

	    {% block text %}
<h2>BMC Club information</h2>
<ul>
    <li><a href="membership.html">About the BMC</a></li>
    <li><a href="application.html">Membership application</a></li>
    <li><a href="ClubActivities.html">Schedule of walks and events</a></li>
</ul>

<h2>Books</h2>
<ul>
    <li><a href="Stories/0020_BookSellers.html">Mycology books on the internet</a></li>
</ul>

<h2>Checklists</h2>
<ul>
    <li><a href="Checklists.html">Boston Mycological Club</a></li>
</ul>

<h2>Clubs</h2>
<ul>
    <li><a href="http://www.mushroomthejournal.com/mma/index.html">Maine Mycological Association</a></li>
    <li><a href="http://psms.org/">Puget Sound Mycological Society</a></li>
    <li><a href="http://somamushrooms.org/">SOMA - Sonoma County Mycological Association</a></li>
</ul>

<h2>Discussions</h2>

<ul>
    <li><a href="Stories/0002_bmcMushroomGroup.html">bmc-mushroom@yahoogroups.com</a></li>
</ul>

<h2>Downloads</h2>
<ul>
    <li><a href="Stories/0007_BostonPapers.html">The Boston Papers</a></li>
</ul>

<h2>Events</h2>
<ul>
    <li><a href="Stories/0012_Walk_in_Brookline_NH.html">October 19, 2002 - Brookline, NH</a></li>
    <li><a href="Stories/NEMF2001/NEMF2001.html">NEMF 2001</a></li>
    <li><a href="http://uhoffmann.home.mindspring.com/nemf2002/">NEMF 2002</a></li>
</ul>

<h2>For Sale</h2>
<ul>
    <li><a href="http://www.browntrout.com/calendars/product.asp?MGID=-1&IID=3487">Mushroom Calendar 2003</a></li>

    <li><a href="Stories/0018_NEMF2002Tshirt.html">NEMF 2002 T-shirt (B. edulis DNA)</a></li>
    <li><a href="http://www.fungiphoto.com/Treasury/DVD.html">Taylor Lockwood DVD</a></li>
</ul>

<h2>Keys</h2>
<ul>
    <li><a href="http://www.bluewillowpages.com/mushroomexpert/">MushroomExpert.com</a></li>
</ul>

<h2>News</h2>
<ul>
    <li><a href="Stories/0009_WoollyAdelgid_Lincoln.html">Woolly Adelgid on the hemlocks</a></li>
    <li><a href="http://data.massgis.state.ma.us/Biodiversity/BiodiversityDays.htm">Massachusetts Biodiversity Days</a></li>
    <li><a href="Stories/0014_NontimberForestProducts.html">Nontimber Forest Products</a></li>
</ul>

<h2>Organizations</h2>
<ul>
    <li><a href="http://www.namyco.org/">NAMA - North American Mycological Association</a></li>
    <li><a href="http://www.erin.utoronto.ca/~w3msa/">MSA - Mycological Society of America</a></li>
</ul>

<h2>Requests for Mushrooms</h2>
<ul>
    <li><a href="Stories/0004_EdMenaBiomedicalMushrooms.html">Biomedial Research by Ed Mena in Groton, CT</a></li>
    <li><a href="Stories/0003_NeolectaRequests.html">DNA research on Neolecta by David Hewitt at Harvard University</a></li>
</ul>

<h2>Sightings</h2>
<ul>
    <li><a href="Stories/0006_Sighting_Apiosporina_morbosa_Ipswitch.html"><I>Apiosporina morbosa - </I>Topsfield, MA</a></li>
    <li><a href="Stories/0005_Omphalotus_in_HudsonMA.html"><I>Omphalotus olearius</I> - Hudson, MA</a></li>
    <li><a href="Stories/0010_Sighting_Chlorophyllum_molybdites_Cambridge.html"><I>Chlorophyllum molybdites</I> - Cambridge, MA</a></li>
    <li><a href="Stories/0011_Sighting_Piptoporus_betulinus.html"><I>Piptoporus betulinus</I> - Mt. Monadnock, NH</a></li>
    <li><a href="Stories/0015_Sighting_Pseudocolus_fusiformis.html"><I>Pseudocolus fusiformis</I> - Sharon, MA</a></li>
</ul>

<h2>Walks</h2>
<ul>
    <li><a href="Stories/0008_September2002Wompatuck.html">September 29, 2002 - Wompatuck</a></li>
</ul>

<h2>Websites</h2>
<ul>
    <li><a href="http://www.nrm.se/kbo/saml/fries/welcome.html.en">Elias Fries - paintings of mushrooms</a></li>
    <li><a href="http://www.mushworld.com/">MushWorld.com</a></li>
    <li><a href="http://www.mushroomthejournal.com">Mushroom - the Journal of Wild Mushrooming</a></li>
    <li><a href="http://www.mssf.org/cookbook/foreign.html">Mushroom Names - worldwide</a></li>
    <li><a href="http://mycology.cornell.edu/welcome.html">Virtual Mycology - World Wide Web</a></li>
</ul>
	    {% endblock text %}
