{% extends "base.html" %}

        {% block trail %}
        <li>&gt; <a href="/mushroom_admin/">Mushroom Admin</a></li>
        <li>&gt; <a href="/memberships/list/">List Memberships</a></li>
        {% endblock trail %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
.suspended { color: gray; }
#membership_info, #notes, #users { 
        margin-bottom: 2em; 
        width: 28em; 
}
#membership_info p, #dues p, #users p { margin: 0 0 0.2em 0; }
#dues { 
        position: absolute; 
        top: 2.9em; 
        left: 32em; 
        width: 28em; 
}
#edit_due { font-size: 0.8em; width: 20em; }
#edit_due h4 { font-size: 1.2em; height: 2em; }
#edit_due label { width: 5em; }
#edit_due input, #edit_due textarea { margin-left: 5em; width: 10em; }
#edit_due textarea { margin-bottom: 0.6em; }
-->
    </style>
    <!--[if lte IE 6]>
    <style type="text/css">
/* Fix weird rendering bug where new user form pops to top of page. */
#users { width: auto; }
#users form { width: 24em; }
    </style>
    <![endif]-->
    {% endblock style %}

            {% block text %}
<h2>Member #{{ membership.id }}</h2>

<div id="membership_info">
    <h3>Address</h3>
    <div id="address">
{{ membership.address }}<br />
{% if membership.address2 %}{{ membership.address2 }}<br />{% endif %}
{{ membership.city }}, {{ membership.state }}, {{ membership.zip }}
    </div>
    <p>Joined: {{ membership.join_date|date }}</p>
    {% if Notes %}
    <h3>Notes</h3>
    <div id="notes">
{{ Notes }}
    </div>
    {% endif %}
    <p><a href="/memberships/{{ membership.id }}/edit/">Edit</a></p>
</div><!-- close #membership_info -->

<div id="users">
    <h3>Users</h3>
    {% if user_profiles %}
        {% for profile in user_profiles %}
        <p {% if profile.user.is_active %}{% else %}class="suspended"{% endif %}><strong>{{ profile.user }}</strong>: {{ profile.user.first_name }} {{ profile.user.last_name }} {% if profile.user.is_active %}{% else %}(suspended){% endif %} <a href="/memberships/{{ membership.id }}/edit_user/{{ profile.user.id }}/">edit</a></p>
        {% endfor %}
    <p><a href="/memberships/{{ membership.id }}/edit_user/">Add a New User</a></p>

    {% else %}
    <p>Please add a user ...</p>
    <form action="/memberships/{{ membership.id }}/edit_user/" method="POST" id="edit_user">
        {% include "includes/edit_user.html" %} 
    </form>
    {% endif %}
</div><!-- close #users -->

<div id="dues">
    <h3>Dues</h3>
    <p><strong>Last Paid:</strong>  {{ dues.0.payment_date|date }}</p>
    <p><strong>Amount: </strong>${{ dues.0.payment_amount }}</p>
    <p><strong>Pays Through: </strong>{{ dues.0.paid_thru|date }}</p>
    <p><strong>Notes:</strong> {{ dues.0.notes }}</p>
    <form action="/memberships/{{ membership.id}}/edit_due/" method="POST" id="edit_due">
        <fieldset>
            <h4>Add a Payment</h4>
            {% for field in edit_due %}
	    <div id="{{ field.label }}_wrap">
                {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	    </div>
            {% endfor %}
	    <p><input type="submit" value="Submit" id="submit_dues" /></p>
        </fieldset>
    </form>
    <p><a href="/memberships/{{ membership.id }}/dues/">Payment History</a>
    {% if active %}
    <p><a href="/memberships/{{ membership.id }}/status/suspend/">Suspend Membership</a></p>
    {% else %}
    <p><a href="/memberships/{{ membership.id }}/status/restore/">Restore Membership</a></p>
    {% endif %}
    
</div><!-- close #dues -->
            {% endblock text %}



