{% extends "base.html" %}

        {% block trail %}
        <li>&gt; <a href="/mushroom_admin/">Mushroom Admin</a></li>
        <li>&gt; <a href="/memberships/list/">List Memberships</a></li>
        <li>&gt; <a href="/memberships/{{ membership.id }}/view/">Membership {{ membership.id }}</a></li>
        {% endblock trail %}


    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
.due { 
        position: relative; 
        margin-top: 2em; 
        border-top: 1px solid black; 
        border-bottom: 1px solid black; 
}
.due h3 { 
        float: left; 
        width: 10em; 
        margin: 0.5em 0 0 0; 
        padding: 0; 
        color: black;
        font-size: 1.2em; 
}
.due p { margin-left: 12em; margin-top: 0.7em; }

-->
    </style>
    {% endblock style %}


            {% block text %}

<h2>Payment History</h2>
{% for due in dues %}
<div class="due">
    <h3>{{ due.payment_date|date }}</h3>
    <p><strong>Amount: </strong>${{ due.payment_amount }}</p>
    <p><strong>Pays Through: </strong>{{ due.paid_thru|date }}</p>
    <p><strong>Notes:</strong> {{ due.notes }}</p>
    <p><a href="/memberships/{{ membership.id }}/edit_due/{{ due.id }}/">Edit</a></p>
<p>
</div>
{% endfor %}
            {% endblock text %}
