{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
#walk h4 { float: left; width: 10em; font-size: 1em; }
#more_info p { margin-left: 10em; }
#walk h3 { margin-bottom: 1em; }
#walk div { margin-bottom: 3em; }
#walk { min-width: 60em; }
#info, #more_info, #mushrooms, #notes { width: 28em; }
#mushrooms, #notes { margin-left: 30em; }
#info, #more_info { float: left; }
#more_info { clear: left; }
    </style>
    {% endblock style %}

            {% block text %}
<div id="walk">
    <h2>Walk Details</h2>
    <div id="info">
        <h3>When and Where</h3>
        <h4>Date/Time</h4> <p>{{ walk.date }}, {{ walk.time }}</p>
        <h4>Meeting Place</h4> <p>{{ walk.meeting_place }}</p>
        <h4>Collecting Area</h4> <p>{{ walk.collecting_area }}</p>
        {% if walk.coordinates %}
        <h4>Coordinates</h4> <p>{{ walk.lat }} {{ walk.long }}<p>
        {% endif %}
    </div>

    <div id="more_info">
        <h3>More Information</h3>
        <h4>Directions</h4> <p>{{ walk.directions|linebreaks }}</p>
        <h4>Weather</h4> <p>{{ walk.weather|linebreaks }}</p>
        <h4>Terrain</h4> <p>{{ walk.terrain|linebreaks }}</p>
        <h4>Permission</h4> <p>{% if walk.permission %}yes{% else %}not yet{% endif %}</p>
    </div>

    <div id="mushrooms">
        <h3>Mushrooms Found</h3>
        {% if walk.mushrooms_found %}
        <p>{{ walk.mushrooms_found }}</p>
        <p><a href="/walks/mushrooms/{{ walk.id }}/">Edit This List</a></p>
        {% else %}
        <p><a href="/walks/mushrooms/{{ walk.id }}/">Add Mushrooms</a></p>
        {% endif %}
    </div>
    <div id="notes">
        {% if walk.notes %}
        <h3>Notes</h3>
        <p>{{ walk.notes }}</p>
        {% endif %}
        {% if permission %}
        <p class="edit"><a href="/walks/edit/{{ walk.id }}/">Edit this walk</a></p>
        {% endif %}
    </div>
</div>
            {% endblock text %}



