dd{% extends "base.html" %}

    {% block style %}
    {{ block.super }}
    <style type="text/css">
<!--
#toggle { clear: left; padding-top: 1em; font-size: 0.8em; }
.details a { margin-right: 1em; }
-->
    </style>
    {% endblock style %}

            {% block text %}
<h2>View All Walks</h2>
{% if walk_list %}
<ul>
    {% for walk in walk_list %}
{% include "includes/walk.html" %}
{% block mushrooms %}<a href="/walks/mushrooms/{{ walk.id }}/">Add Mushrooms</a>{% endblock %}
    {% endfor %}
</ul>
{% else %}
<p>Whoops.  You've reached the end of the list of walks!</p>
{% endif %}
<ul class="prev_next">
    {% if start %}<li><a href="/walks/list/start{{ prev }}/{{ per_page }}pp/">Previous {{ per_page }} Walks</a></li>{% endif %}
    {% if next %}<li><a href="/walks/list/start{{ next }}/{{ per_page }}pp/">Next {{ per_page }} Walks</a></li>{% endif %}
</ul>
<p id="toggle"><a href="/walks/list/start0/{{ toggle }}pp/">Show {{ toggle }} Walks Per Page</a></p>
            {% endblock text %}



